/* General */  
body
{
width: 800px; margin: 0 auto; 
background-repeat: no-repeat;
background-size: contain;
background-image: url("https://dport96.github.io/ITM352/morea/030.ui-basics/phone_globe.jpg")

}
/* Typography */ 
img
{
height: "200px"; width:"200px"
}
/* Styling the products display */ 
h1
{
align-items: center
}
/* Typography */ 
h2
{
align-items: center
color black
}
div
{
border: 5px solid black;
display: flex;    
}
/* Form styling */
main
{
display: flex;
flex-flow: row wrap;
justify-content: space-around;  
}
.rotate img
{
  animation: rotation .3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}