h1,h2
{

    font-family: 'Oswald', sans;
    color: yellow
}
body
{
   
    font-family: 'Open Sans', sans;
    color:yellow;
    margin: 10px 50px 10px 50px;
    width: 950px;
    background-color:black;


}

ul
{

list-style-type: none;
margin:0;
padding:0;

}
li
{
display: inline;

}
#navbar a
{
margin-left:50px;
margin-right:50px;
}
